name: Build & Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  Windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Build & Test
      run: make pack
    # Disable until 'Maximum call stack size exceeded' errors are resolved
    # - name: Report Test Results
    #   uses: dorny/test-reporter@v1
    #   if: success() || failure()
    #   with:
    #     name: Windows Tests
    #     path: artifacts/**/*.trx
    #     reporter: dotnet-trx
    - name: Upload artifacts
      if: github.ref == 'refs/heads/main'
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: artifacts/
    - name: Upload to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: artifacts/*/*.cobertura.xml
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Publish CI packages to GitHub
      if: github.event_name == 'push'
      run: make push NUGET_SOURCE=https://nuget.pkg.github.com/eiriktsarpalis/index.json NUGET_API_KEY=${{ secrets.GITHUB_TOKEN }}
    - name: Publish CI packages to Feedz.io
      if: github.event_name == 'push'
      run: make push NUGET_SOURCE=https://f.feedz.io/eiriktsarpalis/polytype/nuget/index.json NUGET_API_KEY=${{ secrets.FEEDZ_IO_KEY }}

  Linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Setup Mono Runtime
      run: sudo apt-get install -y mono-runtime
    - name: Build & Test
      run: make
# Disable until 'Maximum call stack size exceeded' errors are resolved
#    - name: Report Test Results
#      uses: dorny/test-reporter@v1
#      if: success() || failure()
#      with:
#        name: Linux Tests
#        path: artifacts/**/*.trx
#        reporter: dotnet-trx

  MacOS:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Build & Test
      run: make
# Disable until 'Maximum call stack size exceeded' errors are resolved
#    - name: Report Test Results
#      uses: dorny/test-reporter@v1
#      if: success() || failure()
#      with:
#        name: MacOS Tests
#        path: artifacts/**/*.trx
#        reporter: dotnet-trx
