name: Check Markdown links

on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Markup Link Checker (mlc)
        uses: becheran/mlc@v1.2.0
        with:
          args: >-
            ./README.md
            -H "User-Agent: Mozilla/5.0"